@import "../../../styles/variables.scss";

.input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid $black;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: $black;
  transition: all 0.3s;

  &:focus {
    outline: none;
    border-color: $primary;
  }
}
