@import "../../../styles/variables.scss";

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;

  &__title {
    font-size: 3.5rem;
    font-weight: 600;
    color: $primary;
  }
}
.inputContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.label {
  font-size: 1.5rem;
  font-weight: 600;
  color: $black;
  text-wrap: nowrap;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 2rem;

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 0.5rem;
  }

  .labelSummary {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    color: $black;
  }
}
